.pageContainer {
  width: 80%;
  height: 60%;
}

.cardsContainer {
  max-width: 200px;
  position: relative;
  display: inline-grid;
  border: 1px solid white;
}

.productCard {
  position: relative;
}

.productImg {
  width: 150px;

  /* height: 50px; */
}

.productInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productTitle {
  color: white;
}

.productDescription {
  color: white;
}
