.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("../../img/individual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  justify-content: space-between;
  /* align-items: ; */
}

img {
  filter: contrast();
}
